.news {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 60px;
        width: 200px;
        height: 140px;
        background: url(../images/decor3.png) no-repeat;

        @include tablet {
            top: 60px;
            left: -40px;
            z-index: -1;
        }

        @include mobile {
            top: 0;
            left: -120px;
        }
    }

    &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0px;
        width: 200px;
        height: 140px;
        background: url(../images/decor4.png) no-repeat right;

        @include tablet {
            bottom: -60px;
            right: -40px;
            z-index: -1;
        }

        @include mobile {
            right: -110px;
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__list {
        padding: clamp(2.5rem, 1.477rem + 4.55vw, 5rem) 0;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;
    }

    &__item {
        overflow: hidden;
        max-width: 380px;
        border: 1px solid rgba(58, 95, 111, 0.15);
        border-radius: 40px;

        @include mobile {}

        & img {
            height: 200px;
        }
    }

    &__content {
        padding: 24px 32px;
    }

    &__title {
        margin-bottom: clamp(0.5rem, 0.295rem + 0.91vw, 1rem);
        @include fluid-text(20, 16);
        font-weight: 800;
        line-height: 1.2;
    }

    &__text {
        @include fluid-text(16, 14);
        font-weight: 500;

        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    & .button--alt {
        margin-top: 16px;
    }
}